node_modules
**/node_modules
dist
**/dist
generated
**/generated
.turbo
**/.turbo
.next
**/.next
.vite
.vercel
.git
**/*.tsbuildinfo
coverage
**/coverage
**/.env
**/.env.local
Dockerfile
.dockerignore
